<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLNhaKhoaDbConnection"
			 connectionString="Data Source=VANTRANY\SQLEXPRESS;Initial Catalog=QLNHAKHOA;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>